* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: whitesmoke;
  background-color: rgb(57, 131, 123);
  background: linear-gradient(rgb(34, 160, 148) 30%, rgb(12, 71, 65));
  height: 100vh;
  gap: 50px;
}
.form {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right bottom, rgb(34, 160, 148) 20%, rgb(12, 71, 65));
  width: 90%;
  max-width: 450px;
  height: 60vh;
  border-radius: 50px;
  box-shadow: 0 0 10px rgb(12, 71, 65);
}
.box-login {z-index: 2;}
.box-register {z-index: 1;}
.box-login, .box-register{
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 20px;
  width: 100%;
  height: 100%;
}
.form h2{
  padding: 30px 0px;
  font-size: 30px;}
.form h2 i {
  color: rgb(1, 251, 76);
  font-style: normal;
}
.form h2 span {font-size: 20px;}
.form .input {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form .input label {
  transform: translateX(10px) translateY(-28px);
  color: rgba(17, 34, 51, 0.502);
  transition: 0.5s all;
}
.form .input label i {transition: 1s all;}
.form .input input {
  border: 2px solid rgba(255, 255, 255, 0.725);
  width: 100%;
  height: 40px;
  border-radius: 10px;
  padding-left: 10px;
  font-size: 20px;
  background: rgba(255, 255, 255, 0.578);
  box-shadow: 2px 2px 2px rgb(12, 71, 65) inset, 2px 2px 2px rgb(12, 71, 65);
  color: rgba(17, 34, 51, 0.502);
}
.form .input input:focus {
  outline: none;
  border: 2px solid rgb(1, 251, 76);
}
.form .opt {
  position: relative;
  display: flex;
  justify-content: right;
  align-items: center;
  width: 100%;
  gap: 10px;
}
.form .opt #forgot-pass {
  position: absolute;
  left: 0;
  color: rgba(248, 248, 248, 0.636);
}
.form .opt label {
  cursor: pointer;
  width: fit-content;
  color: rgba(248, 248, 248, 0.636);
  transform: none;
  font-weight: normal;
}
.form .opt input {width: 20px;cursor: pointer;box-shadow: none;}
.form .opt input:focus {outline: none;}
.form button {
  cursor: pointer;
  background: transparent;
  border: none;
  color: whitesmoke;
  border-bottom: 1px solid transparent;
}
.form .submit {
  width: 70%;
  height: 40px;
  border-radius: 20px;
  color: whitesmoke;
  font-size: 18px;
  font-weight: bold;
  background: rgb(26, 187, 74);
}
.form span {
  font-size: 14px;
  color: rgba(248, 248, 248, 0.636);
}
.form .box-login span button,
.form .box-register span button{
  color: rgb(1, 251, 76);
}
footer a {
  font-size: 40px;
  text-decoration: none;
  color: rgba(245, 245, 245, 0.161);
}
